// stylelint-disable no-empty-source
// @include font-face("../fonts/FontName/FontName", "FontName", 400, normal);
@font-face {
	src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
	font-family: "SFUIDisplay-Bold";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
	font-family: "SFUIDisplay-Regular";
	font-weight: 400;
	font-style: normal;
}
